<h1> Estadística ocupación por departamento </h1>
<div class="title" *ngIf="!jefaturaMode">
    <mat-form-field appearance="fill" class="width-input">
        <mat-label>Departamento</mat-label>
        <mat-select required name="departamento"
            required
            #selectDepartamento="ngModel"
            [(ngModel)]="departamentoSeleccionado">
            <mat-error *ngIf="selectDepartamento.invalid">Por favor ingrese una opción</mat-error>
            <mat-option *ngFor="let departamento of departamentos" 
                [value]="departamento">
                {{departamento}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="buscarButton width-button" (click)="onBuscar()">Buscar</button>
</div>

<div class="grid">
    <div style="height: 2cm;" *ngIf="jefaturaMode"></div>
    <div *ngIf="busquedaOn">
        <mat-card class="boxes">
            <h3>Porcentaje de Ocupación del Departamento {{titleDepartamento}}</h3>
            <div class="chartBox">
                <apx-chart
                    [series]="ChartOptions.series"
                    [chart]="apexChart"
                    [dataLabels]="ChartOptions.dataLabels"
                    [plotOptions]="ChartOptions.plotOptions"
                    [xaxis]="ChartOptions.xaxis"
                    [yaxis]="ChartOptions.yaxis"
                    [legend]="ChartOptions.legend"
                    [tooltip]="ChartOptions.tooltip"
                ></apx-chart>
            </div>
        </mat-card>
    </div>
</div>
